---
import '../styles/global.css'
const { pageTitle, metaDescription, } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
    <meta name="description" content={metaDescription} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={metaDescription} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={metaDescription} />
  </head>
  
  <body class="font-sans  min-h-screen flex flex-col antialiased bg-blue-500">
    <main id="main-content" role="main" class="relative grow-1 flex flex-col items-center py-16">
      <slot /> 
    </main>

    <footer role="contentinfo" class="flex p-4 md:px-8 flex-col items-center gap-2 sm:flex-row sm:justify-between text-[0.625rem] text-zinc-100 font-z-semiexpanded font-bold uppercase tracking-[0.1875rem]">
        <p>A HI IM RY Production.</p>
        <p>&copy; {new Date().getFullYear()}. All rights reserved.</p>
    </footer>

  </body>
</html>